In [21]:
import os
import pandas as pd

data_file = "100 Coins"
df = []
for file in os.listdir(data_file):
    if file.endswith('.xlsx'):
        print('loading file {0}...'.format(file))
        df.append(pd.read_excel(os.path.join(data_file,file)))

loading file 1inch Token.xlsx...
loading file Aave.xlsx...
loading file Algorand.xlsx...

In [27]:
df_master = pd.concat(df, axis=0)
df_master.to_excel('combination file.xlsx', index = False)

In [108]:
from pandas import read_csv
header_names = ['Coin', 'Date', 'Open', 'High', 'Low','Close', 'Volume', 'Currency']
coin_data = read_csv('combination file.csv', names=header_names)
print(coin_data.dtypes)

Coin        object
Date        object
Open        object
High        object
Low         object
Close       object
Volume      object
Currency    object
dtype: object

In [119]:
import numpy as np
from sklearn import preprocessing
header_names = ['Coin', 'Date', 'Open', 'High', 'Low','Close', 'Volume', 'Currency']
coin_data = read_csv('combination file.csv',)
encoder  = preprocessing.LabelEncoder()
coin_data['encode_Coin_label']=encoder.fit_transform(coin_data.Coin)
coin_data.head(3)

,Coin,Date,Open,High,Low,Close,Volume,Currency,encode_Coin_label
0,1inch Token,25/12/2020,1.602781,2.918094,1.375262,2.328544,638225549,USD,0
1,1inch Token,26/12/2020,2.318946,2.434916,1.582264,1.596896,237653073,USD,0
2,1inch Token,27/12/2020,1.597744,1.630781,1.056657,1.062112,183978307,USD,0

In [120]:

coin_df = pd.DataFrame(coin_data)
coin_df['daily_pct_change'] =coin_df['Close'].pct_change()
coin_data.head(3)

,Coin,Date,Open,High,Low,Close,Volume,Currency,encode_Coin_label,daily_pct_change
0,1inch Token,25/12/2020,1.602781,2.918094,1.375262,2.328544,638225549,USD,0,NaN
1,1inch Token,26/12/2020,2.318946,2.434916,1.582264,1.596896,237653073,USD,0,-0.314208
2,1inch Token,27/12/2020,1.597744,1.630781,1.056657,1.062112,183978307,USD,0,-0.334890

In [111]:

coin_df.drop(['Currency','Coin'], axis=1, inplace=True)

In [121]:
coin_df.head(3)

,Coin,Date,Open,High,Low,Close,Volume,Currency,encode_Coin_label,daily_pct_change
0,1inch Token,25/12/2020,1.602781,2.918094,1.375262,2.328544,638225549,USD,0,NaN
1,1inch Token,26/12/2020,2.318946,2.434916,1.582264,1.596896,237653073,USD,0,-0.314208
2,1inch Token,27/12/2020,1.597744,1.630781,1.056657,1.062112,183978307,USD,0,-0.334890

In [112]:
coin_df= coin_df.applymap(float)
print(coin_df.dtypes)

Open                float64
High                float64
Low                 float64
Close               float64
Volume              float64
daily_pct_change    float64
dtype: object

In [101]:
empty_coin_df = coin_df[coin_df.isna().any(axis=1)]

In [113]:
empty_coin_df

       Open      High       Low     Close       Volume  daily_pct_change
0  1.602781  2.918094  1.375262  2.328544  638225549.0               NaN

In [117]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import Normalizer
from sklearn import preprocessing

imputer = SimpleImputer(strategy='mean')
imputer.fit(coin_df)
new_data = imputer.transform(coin_df)
new_data = pd.DataFrame(new_data)
new_data(3)

TypeError: 'DataFrame' object is not callable

In [116]:
coin_df_normalizer = Normalizer(norm='l1').fit(new_data)
normalizeddata =coin_df-coin_df_normalizer.transform(new_data)
print(normalizeddata)

          Open      High       Low     Close       Volume  daily_pct_change
0     1.602781  2.918094  1.375262  2.328544  638225548.0               NaN
1     2.318946  2.434916  1.582264  1.596896  237653072.0         -0.314208
2     1.597744  1.630781  1.056657  1.062112  183978306.0         -0.334890
3     1.064454  1.254447  1.049051  1.110076  119337528.0          0.045159
4     1.110460  1.111282  0.761151  0.887798  137916898.0         -0.200237
...        ...       ...       ...       ...          ...               ...
2037  0.703264  0.722780  0.646852  0.655285  213615374.0         -0.068290
2038  0.655430  0.677529  0.650865  0.670329  154129143.0          0.022958
2039  0.670433  0.712971  0.663562  0.699503  227820441.0          0.043522
2040  0.699299  0.707520  0.623249  0.636792  214364305.0         -0.089651
2041  0.734659  0.752187  0.628581  0.642839  542788351.0          0.009497

[2042 rows x 6 columns]